html{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Comfortaa';
}
h2{
    font-family: 'Comfortaa';
    font-weight:700;
}
h3{
    font-family: 'Comfortaa';
    font-weight: 300;
}
/*---------navigation---------*/
#nav{
    max-height: 5rem;
}
#nav .logo{
    height: 5rem;
}
#nav ul{
    list-style-type: none;
    margin: 0;
    padding-right: 1.5rem;
    display: flex;
    
}
#nav .buttons{
    float: right;
}
#nav li{
    padding-left: 3rem;
    color: white;
    font-size: 1.5rem;
}
.nav{
    display:flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    flex: 1;
    font-family: 'Comfortaa', serif;
    left: 0;
    
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: 	white;
    font-size: 600;
}

/*------------ photo --------------*/

.Me {
    max-width: 100%;
    max-height: 45rem;
    display:flex;
    border-radius: 100px;
}

#intro{ 
    margin-top: 8rem;
    display: flex;
}


#intro .one{
  text-align: center;
  padding-top: 8rem;
}

/*-------------Intro---------*/

h1{
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 5rem;
}

h2{
    font-family: 'Comfortaa';
   font-weight: 300;
}

/*-----------about me---------*/
#about{
    padding-top: 4rem;
}
#about h2{
    font-size: 3rem;
}
#about h3{   
    font-size: 1.5rem;
}
.mountain{
    border-radius: 100px;
    max-height: 25rem;
    max-width: 100%;
}

.aboutpara{
   text-align: center;
}
.aboutcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/*----------Projects------------*/
#projects{
    padding-top: 4rem;
}
#projects h2{
    font-size: 3rem;
}
#projects li{
    font-size: 1.5rem;
}

/*----------Skills------------*/
#skills{
    padding-top: 4rem;
}
#skills h2{
    font-size: 3rem;
    font-weight: 300;
    
}
.skillscontainer{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-content: center;
    padding: 0 8rem;
    padding-top: 8rem;
}

.logo{
    max-width:8rem;
}

/*-----------contact----------*/
#contact{
    padding-top: 4rem;
}
#contact h2{
    font-size: 3rem;
}
#contact h3{
    text-align: center;
}
.contactcontainer{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-content: center;
    padding: 10rem 15rem;

}
.contact{
    max-height:5rem;
}
