html{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Comfortaa';
}
h2{
    font-family: 'Comfortaa';
    font-weight:700;
}
h3{
    font-family: 'Comfortaa';
    font-weight: 300;
}
/*---------navigation---------*/
#nav{
    max-height: 5rem;
}
#nav .logo{
    height: 5rem;
}
#nav ul{
    list-style-type: none;
    margin: 0;
    padding-right: 1.5rem;
    display: flex;
    
}
#nav .buttons{
    float: right;
}
#nav a{
    color:white;
}
#nav a:hover{
    color: #4CB3FF;
}
#nav li{
    padding-left: 3rem;
    color: white;
    font-size: 1.5rem;
}
.nav{
    display:flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    flex: 1;
    font-family: 'Comfortaa', serif;
    left: 0;
    
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: 	white;
    font-size: 600;
}

/*------------ photo --------------*/

.Me {
    max-width: 100%;
    max-height: 45rem;
    display:flex;
    border-radius: 100px;
}

#intro{ 
    margin-top: 8rem;
    display: flex;
}


#intro .one{
  text-align: center;
  padding-top: 8rem;
}

/*-------------Intro---------*/

h1{
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 5rem;
}

h2{
    font-family: 'Comfortaa';
   font-weight: 300;
}

/*-----------about me---------*/
#about{
    padding-top: 3.5rem;
}
#about h2{
    font-size: 3rem;
    text-align: center;
}
#about h3{   
    font-size: 1.5rem;
    text-align: center;
}
.mountain{
    border-radius: 60px;
    max-height: 25rem;
    max-width: 90%;
    margin-left:3rem;
}

.aboutcontainer{
  align-content: center;
  max-width: 62rem;
  
}
.aboutphoto{
    padding-top: 10rem;
    align-items: center;
}
#bigBoy{
  display: flex;
  justify-content: space-between;
}
.slide{
    display:flex;
    justify-content: space-around;
    width: 100%;
    
}
.pic{
    width: 7rem;
}
#one{
    display: none;
    justify-content: center;
    padding-top: 15rem;
}

#two{
    display: none;
    justify-content: center;
    padding-top: 9rem;
}
#three{
    display: none;
    justify-content: center;
    padding-top: 15rem;
}
#four{
    display: none;
    justify-content: center;
    padding-top: 15rem;
}
#five{
    display: none;
    justify-content: center;
    padding-top: 15rem;
}
.pic_pop{
    width: 50rem;
}
/*----------Projects------------*/
#projects{
    padding-top: 4rem;
}
#projects h2{
    font-size: 3rem;
}
#projects li{
    font-size: 1.5rem;
}

/*----------Skills------------*/
#skills{
    padding-top: 4rem;
}
#skills h2{
    font-size: 3rem;
    font-weight: 300;
    
}
#skills h3{
    text-align: center;
}
.skillscontainer{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-content: center;
    padding: 0 8rem;
    padding-top: 8rem;
}

.logo{
    max-width:8rem;
}

/*-----------contact----------*/
#contact{
    padding-top: 4rem;
}
#contact h2{
    font-size: 3rem;
    text-align:center;
}
#contact h3{
    text-align: center;
}
.contactcontainer{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-content: center;
    padding: 8rem 15rem;

}
.contact{
    max-height:8rem;
    justify-content: center;
}


#hover-three{ 
    display:none;
    justify-content: center;
    
}
#hover-one{
    display:none;
    justify-content: center;
} 
.appear_one{
    color:black;
}
.appear_one:hover{
    color:#4CB3FF;
}
.appear_two{
    color:black;
}
.appear_two:hover{
    color:#4CB3FF;
}
.appear_three{
    color:black;
}
.appear_three:hover{
    color:#4CB3FF;
}



/* ----------------------------Screen Size Adjustments---------------------------*/

@media only screen and (max-width:1600px){
    .pic_pop{
        width: 40rem;
    }
    #one{
        padding-top: 10rem;
    }
    #two{
        padding-top: 6rem;
    }#three{
        padding-top: 10rem;
    }#four{
        padding-top: 10rem;
    }#five{
        padding-top: 10rem;
    }
    .contactcontainer{
        padding: 6rem 15rem 0 15rem;
    }

}

@media only screen and (min-width: 1650px){
    .pic{
        width: 12rem;
    }
    .slide{
        padding-top: 7rem;
    }
    .aboutphoto{
        padding-top: 8rem;
    }
    .aboutcontainer{
        padding-left: 4rem;
    }
    .skillscontainer{
        padding-top: 14rem;
    }

}